* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}
#container_icones_reseaux_sociaux {
    display: flex;
}
#footer_container {
}
#container_reseau_sociaux_horaires {
    display: flex;
}
#suivez_nous {
    display: flex;
    flex-wrap: wrap;
}
