* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}
body {
    max-width: 1200px;
    margin: auto;
    background-color: #F5EBDC;
}
#container_defis_acceptes {
    background-color: #ED8676;
    margin: 20px;
    color: white;
    padding: 20px;
}
#titre_et_image {
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}
#contenu_descriptif_sous_image {
    padding: 15px;
    text-align: justify;
    

}
#reserver {
    text-align: center;
    font: bold;
}
#Défis_suivants {
    text-align: center
   
}
#container_defis_au_vote {
    background-color: #3E6474;
    margin: 50px;
    color: white;
}
#container_avec_deux_défis {
    display: flex;
}
#image_saumon {
    width: 400px;
    height: 400px;
    
}
#image_container_saumon {
text-align: center;
}
#image_carbonade {
    width: 200px;
    margin: 5px;
}
#image_profiterolles {
    width: 100px;
    margin: 5px;
}
#container_inage_texte {
    display: flex;
    margin: 20px;
}
#titre_explication_de_Marie {
    padding: 15px;
}
#paragraphe_explication_marie {
    margin: 15px;
}
#historique_voeux_pierre {
    padding: 15px;
}
h2 {
    text-align: center;
}
#afficherAllergenes {
    text-align: center;
}

@media screen and (max-width:480px) {
#container_image_seule {
        display: none;
        margin: 10px;
    }
}

@media screen and (min-width:481px) and (max-width:992px) {
    #container_image_seule {
        display: none;
        margin: 10px;
    }
}
